.my-page {
    display: flex;
}

.first-image {
    width: 50%;
    height: auto;
    padding-right: 5px;
}

.quadrent {
    display: flex;
    gap: 5px;
}

.remaining-images {
    width: 100%
}

.description {
    width: 100%;
}

.spotOwnerContainer {
    display: flex;
}

.SpotOwner {
    width: 70%;
}

.Priceandreviews {
    display: flex;
    border: solid black 3px;
    border-radius: 20px;
    flex-wrap: wrap;
    width: 30%;
    justify-content: space-around;
    padding: 15px;
    height: 50%;
    margin-top: 20px;
}

.price {
    display: flex;
}
.ReserveButton{
    text-align: center;
    width: 100%;
}
.cssForReserveButton {
    padding: 14px;
    width: 90%;
    margin-bottom: 10px;
}
.reviewsForReservebutton{
    display: flex;
    align-items: center;
}
