.userNameorEmailbox {
    border: 3px solid black;
    width: 500px;
    height: 25px;
    margin: 5px;
    background-color: rgb(220, 232, 242);
}
.passwordbox {
    border: 3px solid black;
    width: 500px;
    height: 25px;
    margin: 5px;
    background-color: rgb(220, 232, 242);
}
.Logincontainer {
    justify-content: center;
    border-radius: 15px;
    padding: 15px;
    gap: 20px;
}
.Login {
    text-align: center;
    align-items: center;
    border-radius: 15px;
}
#modal-content {
    border-radius: 15px;
}
h1{
   margin: 0;
   margin-bottom: 15px;
}
.LoginButton {
    width: 510px;
    margin: 5px;
    margin-top:19px;
    padding: 15px 15px;
    box-shadow: 3px 3px black;
}
.DemoUser {
    border: white solid 1px;
    background-color: white;
    width: 510px;
    margin: 5px;
    margin-top:19px;
    padding: 15px 15px;
    color: blue
}
.DemoUser:hover {
    text-decoration: underline;
}
.errors {
    color: red;
    text-align: center; /* to center the text horizontally */
    display: flex; /* to use flexbox layout */
    justify-content: center; /* to center the error message horizontally */
    align-items: center; /* to center the error message vertically */
    height: 100%; /* to make sure the error message takes up the full height of the modal */
    padding-bottom: 30px;
}
